---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

const imageFiles = import.meta.glob<{ default: ImageMetadata }>(
	'../assets/photos/*.{jpg,jpeg,webp,png}',
	{ eager: true }
);

const photos = Object.entries(imageFiles)
	.sort(([a], [b]) => a.localeCompare(b))
	.map(([path, mod]) => ({
		src: mod.default,
		alt: path.split('/').pop()?.replace(/\.[^.]+$/, '').replace(/[-_]/g, ' ') ?? '',
	}));
---

<Layout>
	<main class="gallery">
		{
			photos.map((photo, i) => (
				<figure>
					<Image
						src={photo.src}
						alt={photo.alt}
						loading={i === 0 ? 'eager' : 'lazy'}
						widths={[800, 1400, 2400]}
						sizes="100vw"
					/>
				</figure>
			))
		}
	</main>
</Layout>

<style>
	.gallery {
		padding-top: 64px;
		margin: 0;
	}

	figure {
		margin: 0;
		padding: 0;
		line-height: 0;
	}

	figure + figure {
		margin-top: 3px;
	}

	img {
		width: 100vw;
		height: auto;
		display: block;
	}
</style>
